@import url("keepApp.css");
@import url("emailApp.css");
@import url("home.css");
* {
    box-sizing: border-box;
    font-family: 'Niramit', sans-serif;
}

html {
    width: 100%;
}

body {
    margin: 0;
    background-image: url(../img/main/appsus-bg-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* ------NAV BAR------ */

.main-nav {
    background-color: black;
    /* max-width: 1080px; */
    color: white;
}

.appsus-logo {
    display: inline-block;
    font-size: 1.6rem;
    padding: 20px;
    color: #73a36f;
    text-decoration: none;
}

.nav-links>* {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.6rem;
}

.nav-links>*:visited {
    color: inherit;
}

.nav-links>*:hover {
    color: grey
}

/* ------MAIN CONTAINER------ */

.main-container {
    min-height: 82.5vh;
    max-width: 1080px;
    margin: 0 auto;
}

/* ------FOOTER------ */

.main-footer {
padding: 2rem;
}


.main-footer .appsus-logo{
font-size: 3rem;
}
/* ------HELPERS------ */

/* spacing helpers  */

.width-100 {
    width: 100%;
}

.center {
    bottom: 50%;
    right: 50%;
    transform: translate (50%, 50%);
}

.margin-top {
    margin-block-start: 81px;
}

.margin-buttom {
    margin-bottom: 1.5rem;
}

.black-border {
    border: 1px solid black
}

.grey-border {
    border: 1px solid #e1e0e0
}

/* colors helpers */

.green {
    background-color: green;
}

.blue {
    background-color: #516fad;
}

.purple {
    background-color: purple;
}

.grey-bgc {
    background-color: #e3e3e3;
}

.dark {
    background-color: brown;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

/* grid helpers */

.grid {
    display: grid;
}

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.flex-column {
    flex-direction: column;
}

.self-center {
    align-self: center;
}

/* list helper */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.font-normal {
    font-weight: normal
}

.black-border-bottom {
    border-bottom: 1px solid black;
}

.icon-on-hover {
    position: fixed;
    background-color: #676666;
    color: white;
    transform: translate(-15px, 5px);
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
}

.display-none {
    display: none;
}